<a href="https://colab.research.google.com/github/carolvieirav/Case_ILUMEO/blob/main/Case_ILUMEO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import re
import datetime

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/ILUMEO - Case - Base de Dados.xlsx')
df.head()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Columns: 210 entries, Q01respondent_id to Q75Identificacao3
dtypes: float64(11), int64(117), object(82)
memory usage: 838.5+ KB

In [4]:
#df.dropna(axis='columns', thresh=400, inplace=True) # drop columns with more than 400 rows with NaN

In [5]:
len(df.columns)

210

In [6]:
#df = df.rename(columns=lambda x : re.sub('Q[0-9][0-9]','',x)) # renaming columns

In [7]:
df[['Q06semanadoano', 'Q09semanadoprojeto', 'Q15Idade']] = df[['Q06semanadoano', 'Q09semanadoprojeto', 'Q15Idade']].replace('[^0-9]','', regex=True) 
# transforming selected columns in numerics ones

In [8]:
d = {'value1': df.Q17Renda.str.split().str[2],
     'value2': df.Q17Renda.str.split().str[5]}
df_renda = pd.DataFrame(data=d) # creating a dataset with the values of salary

df_renda.replace('[^0-9]','', regex=True, inplace=True)

df_renda['value1'] = pd.to_numeric(df_renda['value1'])
df_renda['value2'] = pd.to_numeric(df_renda['value2']) # str to numeric

df_renda['average'] = df_renda.mean(numeric_only=True, axis=1) # calcute the mean of salary range

df['Q17Renda'] = df_renda['average'] # incorporate salary mean information to df

In [101]:
df2 = df.filter(regex=r'^Q[0-9]')
q_dict = {col_prefix: df_i for col_prefix, df_i in df2.groupby(df2.columns.str[:3], axis=1)} 
# create a dictionary with all the columns sumarized by their question number

In [185]:
for value in q_dict:
  qdf= pd.DataFrame(q_dict[value])
q

     Q75Identificacao1  Q75Identificacao2  Q75Identificacao3
0                    0                  0                  0
1                    3                  3                  0
2                    8                  8                  7
3                    9                  6                 10
4                    5                  6                  0
..                 ...                ...                ...
506                  5                  4                  5
507                 10                 10                 10
508                  7                  8                  5
509                  6                  6                  6
510                  6                  8                  3

[511 rows x 3 columns]

In [175]:
q18 = pd.DataFrame(q_dict['Q18'])

q18array = q18['Q18PossuiSeguroSeguro de vida'].unique()

#q18['Q18PossuiSeguroSeguro de vida'][q18['Q18PossuiSeguroSeguro de vida'] == q18array[0]] = 0

#q18['Q18PossuiSeguroSeguro de vida'][q18['Q18PossuiSeguroSeguro de vida'] == q18array[1]] = 1

In [ ]:
def binary_transform(x):

  for value in x:
    qdf= pd.DataFrame(q_dict[value])

    for col in qdf:
      qarray = x[col].unique()
      
      x[col][x[col] == qarray[0]] = 0
      x[col][x[col] == qarray[1]] = 1

      return x

binary_transform(q_dict)

In [160]:
df.to_excel('df.xlsx')