<a href="https://colab.research.google.com/github/carolvieirav/Case_ILUMEO/blob/main/Case_ILUMEO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import re
import datetime

In [2]:
df = pd.read_excel('/content/drive/MyDrive/ILUMEO - Case - Base de Dados.xlsx')
df.head()

   Q01respondent_id  Q03date_created  ... Q75Identificacao2 Q75Identificacao3
0       12726198887     44355.685185  ...                 0                 0
1       12689635464     44342.383507  ...                 3                 0
2       12668199937     44334.732222  ...                 8                 7
3       12764534750     44369.812870  ...                 6                10
4       12729524855     44356.677604  ...                 6                 0

[5 rows x 210 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Columns: 210 entries, Q01respondent_id to Q75Identificacao3
dtypes: float64(11), int64(117), object(82)
memory usage: 838.5+ KB

In [4]:
df.dropna(axis='columns', how='all', inplace=True)

In [5]:
len(df.columns)

207

In [6]:
#df = df.rename(columns=lambda x : re.sub('Q[0-9][0-9]','',x)) # renaming columns

In [7]:
df[['Q06semanadoano', 'Q09semanadoprojeto', 'Q15Idade']] = df[['Q06semanadoano', 'Q09semanadoprojeto', 'Q15Idade']].replace('[^0-9]','', regex=True) 
# transforming selected columns in numerics ones

In [8]:
d = {'value1': df.Q17Renda.str.split().str[2],
     'value2': df.Q17Renda.str.split().str[5]}
df_renda = pd.DataFrame(data=d) # creating a dataset with the values of salary

df_renda.replace('[^0-9]','', regex=True, inplace=True)

df_renda['value1'] = pd.to_numeric(df_renda['value1'])
df_renda['value2'] = pd.to_numeric(df_renda['value2']) # str to numeric

df_renda['average'] = df_renda.mean(numeric_only=True, axis=1) # calcute the mean of salary range

df['Q17Renda'] = df_renda['average'] # incorporate salary mean information to df

In [9]:
df2 = df.filter(regex=r'^Q[0-9]')
q_dict = {col_prefix: df_i for col_prefix, df_i in df2.groupby(df2.columns.str[:3], axis=1)} 
# create a dictionary with all the columns sumarized by their question number

In [27]:
demo_df = df.iloc[:, 0:10]
demo_df

     Q01respondent_id  Q03date_created  ...               Q16Escolaridade   Q17Renda
0         12726198887     44355.685185  ...    Ensino superior (completo)   567550.0
1         12689635464     44342.383507  ...  Ensino superior (incompleto)   168075.0
2         12668199937     44334.732222  ...       Ensino médio (completo)   168075.0
3         12764534750     44369.812870  ...  Ensino superior (incompleto)   567550.0
4         12729524855     44356.677604  ...    Ensino superior (completo)   308500.0
..                ...              ...  ...                           ...        ...
506       12760878414     44368.655498  ...    Ensino superior (completo)  1189350.0
507       12760851993     44368.647454  ...       Ensino médio (completo)    99800.0
508       12760849412     44368.646852  ...  Ensino superior (incompleto)   567550.0
509       12760845609     44368.645741  ...  Ensino superior (incompleto)   567550.0
510       12760844950     44368.645486  ...    Ensino superior (completo)   308500.0

[511 rows x 10 columns]

In [10]:
qlst = []
for key in q_dict:
  for value in q_dict:
    key = pd.DataFrame(q_dict[value])
    qlst.append(key) # transform dictionary in a list of dataframes sumarized by question number

del qlst[:10] # delete the itens that have a question with only one answer

In [ ]:
def binary(x):
  '''
  make all values binary by transforming all nan values in 0s and all str in 1s
  '''

  for d in x:
    for column in d:
      qarray = d[column].unique()
      for i in qarray:
        if len(qarray) == 2:
          d[column] = d[column].fillna(0)
          d.dropna(axis='columns', thresh=400, inplace=True) # drop columns with more than 400 nan rows
          
          #if type(i) == str:
            #d[column][d[column]type(i) == str]

          return x

binary(qlst)

In [ ]:
for i in qlst:
  df =

In [ ]:
df[]

In [ ]:
df.to_excel('df.xlsx')