<a href="https://colab.research.google.com/github/carolvieirav/Case_ILUMEO/blob/main/Case_ILUMEO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_excel('/content/drive/MyDrive/ILUMEO - Case - Base de Dados.xlsx')
df.head()

   Q01respondent_id  Q03date_created  ... Q75Identificacao2 Q75Identificacao3
0       12726198887     44355.685185  ...                 0                 0
1       12689635464     44342.383507  ...                 3                 0
2       12668199937     44334.732222  ...                 8                 7
3       12764534750     44369.812870  ...                 6                10
4       12729524855     44356.677604  ...                 6                 0

[5 rows x 210 columns]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 511 entries, 0 to 510
Columns: 210 entries, Q01respondent_id to Q75Identificacao3
dtypes: float64(11), int64(117), object(82)
memory usage: 862.4+ KB

In [59]:
df.isnull().sum()
print(df.isnull().sum().unique()) # get the count of NaN by column

[ 0 23]

In [51]:
if i > 400:
  df.dropna(axis='columns', subset=[i for i in df.isnull().sum()] , inplace=True)
# drop columns with more than 400 rows with NaN

In [60]:
len(df.columns)

127

In [78]:
df = df.rename(columns=lambda x : re.sub('Q[0-9][0-9]','',x)) # renaming columns